# Created by .ignore support plugin (hsz.mobi)
### Symfony template
# Cache and logs (Symfony2)
Symfony/app/cache/*
Symfony/app/logs/*
!Symfony/app/cache/.gitkeep
!Symfony/app/logs/.gitkeep

# Email spool folder
Symfony/app/spool/*

# Cache, session files and logs (Symfony3)
Symfony/var/cache/*
Symfony/var/logs/*
Symfony/var/sessions/*
!Symfony/var/cache/.gitkeep
!Symfony/var/logs/.gitkeep
!Symfony/var/sessions/.gitkeep

# Parameters
Symfony/app/config/parameters.yml
Symfony/app/config/parameters.ini

# Managed by Composer
Symfony/app/bootstrap.php.cache
Symfony/var/bootstrap.php.cache
Symfony/bin/*
!Symfony/bin/console
!Symfony/bin/symfony_requirements
Symfony/vendor/

# Assets and user uploads
Symfony/web/bundles/
Symfony/web/uploads/

# PHPUnit
Symfony/app/phpunit.xml
Symfony/phpunit.xml

# Build data
Symfony/build/

# Composer PHAR
Symfony/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
Symfony/.web-server-pid
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, SymfonyCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

Symfony/.idea

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

docker-compose.override.yml

/logs
