<!DOCTYPE html>
<html>
    <head>
    {% block header %}
        {% embed "@MainApp/Partial/_header.html.twig" %}
        {% endembed %}
    {% endblock %}
    </head>
    <body class="">
        <script>var baseUrl = '{{ app.request.getSchemeAndHttpHost() }}';</script>
        {% block navbar %}
            {% embed "@MainApp/Partial/_navbar.html.twig" %}
            {% endembed %}
        {% endblock %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 ">
                {% block body %}

                {% endblock %}
            </div>
            <div class="col-md-1"></div>
        </div>
        {% block footer %}
            {% embed "@MainApp/Partial/_footer.html.twig" %}
            {% endembed %}
        {% endblock %}
    </body>
</html>
