<!DOCTYPE html>
<html>
    <head>
    {% block header %}
        {% embed "@MainApp/Partial/_header.html.twig" %}
        {% endembed %}
    {% endblock %}
    </head>
    <body class="body">
        <script>var baseUrl = '{{ app.request.getSchemeAndHttpHost() }}';</script>
        {% block navbar %}
            {% embed "@MainApp/Partial/_navbar.html.twig" %}
            {% endembed %}
        {% endblock %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 ">
                {% block body %}

                {% endblock %}
                <div id="myModal" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">

                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="modal_body" class="modal-body">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        {% block footer %}
            {% embed "@MainApp/Partial/_footer.html.twig" %}
            {% endembed %}
        {% endblock %}
    </body>
</html>
