{% extends "@MainApp/base.html.twig" %}

{% block body %}
    {% for liste in listArray  %}
        <a class="choiceList" href="{{ path('main_app_listShow', {'id': liste.id}) }}" ><h3>{{ liste.name }}</h3></a>

    {% endfor %}
{% endblock %}