{% extends "@MainApp/base.html.twig" %}

{% block body %}
            <p>
                Ce site a été dévelopé pour répondre à des critères spécifiques liés à la rédaction d'un suivis de projet.
            </p>
{% endblock %}