{% extends "@MainApp/base.html.twig" %}

{% block body %}
    {% for key, factionsData in factions %}
        <ul class="list-group">
            <H2>{{ key }}</H2>
            {% for faction in factionsData %}
                <a href="/faction/lists/{{ faction.id }}" class="list-group-item">
                    {{ faction.name }}
                </a>
            {% endfor %}
        </ul>
    {% endfor %}
    <ul class="list-group">

    </ul>
{% endblock %}