{% extends "@MainApp/base.html.twig" %}

{% block body %}
    <h3>Création de liste</h3>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Create"
               class="btn btn-default" />
    {{ form_end(form) }}
{% endblock %}